
header {
    background-color: #FFCC99;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5); 
}

header h1 {
    font-weight: bold; 
    text-align:center;
}

main {
    background-color: #E6F2FF;
    display: flex;
    justify-content: space-between;
}

aside {
    background-color: #B3D9FF;
    border: 1px solid #CCC;
    flex: 1;
 }

 section {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 20px;
 }

 footer {
    background-color: #99CC99;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
 }